<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Setting1" value="one" />
    <add key="Setting2" value="two" />
    <add key="Setting3" value="three" />
    <add key="Setting4" value="four" />
    <add key="Setting5" value="five" />
  </appSettings>
</configuration>